body{background:#e8e3dc}
header
{
    text-align: center;
    background:url('beige.jpg');
    background-position: center;
    background-size: cover;
    display:flex;
    align-items:center;
    height:200px}
h1{margin: auto;
text-align: center;
filter: opacity(70%)}
a:hover{
    background-color:#6f503d}
p{border:hidden 3px darksalmon}
h4{border: dotted 4px#9e8a7c ;
    border-radius: 15px;
text-align: center}
.navbar{background-color:#c1afa0}
