body{background: beige}
header,footer{clear:both;
    text-align:center;
    background:#E6D1B1;
    border:soild 10px #E6D1B1;
    border-radius: 10px;} 
a:hover{color:darksalmon;
    background-color: cornsilk}
a:link;a:visited{color:chocolate}
p{border:hidden 3px darksalmon}
h4{border: dotted 3px chocolate;
    border-radius: 20px;
text-align: center}
